@media only screen and (min-width: 1500px){
    
    .my_foto{
    width: 500px;
    margin-top: 120px;

}
    .color{
        margin-top: -300px;
    }

    .follow{
        margin-top: 300px;
    }

    header h1{
        font-size: 60px;
        margin: 20px 900px;
    
    }

    .row{
        height: 750px;
     }

/* FOTO - Who are */
    .my_foto_front{
        position: absolute;
        width: 550px;
        margin-top: 100px;
        margin-left: -280px;
    
}
    footer{
        position: relative;
        height: 100px;
        margin-top: 0px;
    }

}



