@media only screen and (min-width: 1500px){
    
    .my_foto{
    width: 500px;
    margin-top: 120px;

}
    .color{
        margin-top: -300px;
    }

    .follow{
        margin-top: 300px;
    }

    .zivotopis h1{
        font-size: 60px;
        margin: 20px 900px;
    
    }

}

