
@media only screen and (min-width: 1500px){
    .color{
        margin-top: -300px;
    }

    .follow{
        margin-top: 300px;
    }

    .hi {
        display: inline;
        float: left;
        margin: 0px;
    }

    header h1{
        font-size: 60px;
        margin: 20px 900px;
    
    }

    .row{
        height: 750px;
    }

    footer{
        position: relative;
        height: 100px;
        margin-top: 0px;
    }

}

@media only screen and (max-width: 1100px){  
  .navigace{
      margin-top: 60px;     
  }
    /* ***********************************INDEX */
    .main_index{
      height: 1320px;
      width: 100%;
      margin-top: -20px;
  }

    .content_animation {
        display: none;
    }

    .name{
      font-size: 35px;
      letter-spacing: 4px;
      text-align: left;
      margin-top: -200px;
      margin-left: -200px;
  }

  
    .begin_front{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        margin-top:0px;
    }
  
    .text{
        font-size: 22px;
        letter-spacing: 2px;
        margin-top: -50px;
        margin-left: -200px;
        text-align: center;
    }
  
  .developer{
    display: block;
    margin-left: 145px;
    margin-top: 10px;
  }

  .btn_port{
      margin-bottom: 160px;
      margin-left: -280px;
      font-size: 25px;
  
  }
  
  .btn_port:hover{
      border-style: inset;
  }

  .prolog{
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 700px;
    margin: 0 auto;
    z-index: 1;
}  
      /***************************** nadpisy */
    .headline{ 
        position: absolute;
        width: 680px;
        margin-left: 340px;
        line-height: 150px;
        text-align: center;    
        font-size: 50px;
    }

    /******************************** Životopis */
    .curiculum{        
        height: 1900px;
        width: 100vw;
        
    }
    .row{
        width: 70%;
        margin-left: 380px;
        height: 1000px;
        position: absolute;
        margin-top: 150px;
        
    }

    .work{
        width: 100%;
        margin-left: 10px;
        
    }
    
    .kurz{
        margin-top: 80px;
    }

    .icon{
        width: 35px;
        margin-left:0px;    
    }

    h2{
        font-size: 20px;
        text-align: center;
        width: 200px;    
    }
    
    h4{
        margin-bottom: 5px;
    }
    
    .popis{
        line-height: 22px;
        margin-top: 20px;
        font-size: 17px;
    }

  
    
    .document{
        width: 40px;
        margin-top: 50px;        
    }

    .certifications{
        display: flex;
        flex-direction: column;
    }
    
    .certifications a{
        font-size: 20px;
        font-weight: 600;
        margin-left: 20px;
        margin-top: 0px;
    }

    /*********************************************** portfolio */
    .preview{
        margin-left: 380px;
        width: 55%;
        height: 500px;        
    }

    .flip-box, .preview-content, .title-front{
        background-color: transparent;
        width: 250px;
        height: 180px;
    }

    .port{
        height: 1000px;
        width: 100%;
        
    }
    /**************************** WHOARE */
    .who{
        height: 1700px;
        width: 100%;        
    }

    .row{
        width: 55%;
    }

    .name_who_are{
        font-size: 37px;
    }

    .title_who_are{
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 20px 0;
        border-radius: 5px;
        font-size: 16px;
        width: 600px;
        text-align: center;    
    } 

     .text_who_are{
        font-size: 17px;
        line-height: 21px;
    }

    

    .my_foto_front{
        width: 450px;
        margin-top: 1238px;
    
    }
    
  
}



@media only screen and (max-width: 990px){
    .index{
        width: 100vw;
        height: 120vh;
        box-shadow: 0px 0px 0px;
    }
    

    .navigace img{
        width: 30px;
    }

    .navigace li{
        margin-top: 30px;
        list-style-type: none;
        text-align: center;    
    }
    
    .navigace a{
        font-size: 20px;
    }

    .active_house{
        padding-top: 15px;
    } 
    

    .main_index{
        height: 1320px;
        width: 100%;
        margin-top: -20px;
    }

    .name{
        font-size: 35px;
        margin-top: -240px;
        margin-left: -60px;
        letter-spacing: 4px;
        text-align: left;
    }
  
    
    .begin_front{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      margin-bottom: 250px;
  }
    
    .text{
        font-size: 22px;
        letter-spacing: 2px;
        margin-top: -50px;
        margin-left: -200px;
        text-align: center;
    }

    .cv{
        display: none;
    }

    .btn_port{
        display: none;       
    
    }

    .prolog{
        height: 650px;
    }
    .prolog_about_me h1{
        font-size: 26px;
        margin-top: 80px;
    }

    .prolog_about_me p{
        font-size: 17px;
    }

    .phone, .mail{
        width: 30px;
        margin-bottom: 8px;
        
    }
    
    .phoneNumber, .email{
        width: 240px;
        height: 80px;
        margin-top: 400px;
    }
    /******************************************************* SKILY */
    
    .skills{
        box-shadow: 0px 0px 0px;
    }

    /****************************************************** HEADLINE*/
    .headline{ 
        width: 574px;       
    }

    /* *****************************************************WHOARE */
    main h1{
        margin-top: 60px;
       
    }

    .follow{
        margin-top: -80px;
    }

    
    .socMedia{
        width: 40px;
    }

    .title_who_are{
        width: 100%; 
    } 

    /*************************************************** PORTFOLIO */
    .flip-box, .preview-content, .title-front{ 
        width: 200px;
        height: 140px;     
    }

}

@media only screen and  (max-width: 850px){
    
    .name{
        font-size: 30px;
    }  
    
    .begin_front{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      margin-bottom: 250px;
  }
    
    .text{
        margin-top: -50px;
        margin-left: -100px;
    }

    .prolog{
        width: 100%;
        height: 550px;
        box-shadow: 0px 0px 0px;
    }

}

@media only screen and (max-width: 710px){
    .headline{
        display: none;
    }

    .menu{
        position: relative;
        left: 0;
        top: 0;
        width: 85vw;
        height: 15vh;
        margin-top: -40px;
        margin-left: 20px;
    }

    .index{ 
        background: #f2f2f2; 
        box-shadow: 0px 0px 0px #f2f2f2;
        border-radius: 0px;    
    }
    
    .slozka_close{
        display: block;
    }

    .slozka_close, .slozka_open{
        margin-top: 15px;
    }

    .navigace ul{
        position: absolute;
        display: inline-block;
        z-index: 999;
        background-color: #45A9BF;
        top: -550px;
        bottom: 0;
        width: 100%;
        height: 72vh;
        border-radius: 10px;
        text-align: center;
        transition: all 0.7s;  
    
    }

    .navigace li{
        margin-top: 50px;    
    }

    .name{
        position: absolute;
        top: 300px;
        left: 120px;
        text-align: center;
        font-size: 34px;
    }

    .foto_mobil{
        display: inline-block;
        position: absolute;        
        left: 50%;
        transform: translate(-50%);
        margin-top: -80px;
        width: 220px;
        border-radius: 10px;
    }

    .begin_front{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 480px;
    }
  
    .text{
        font-size: 22px;
        letter-spacing: 2px;
        margin-top: 10px;
        margin-left: -220px;
        text-align: center;
  }

    .cv{
    display: none;
    }

    .follow{
        display: none;
    }

    .socMedia{ 
        position: absolute;
        width: 50px;        
        bottom: 10px;
        right: 10px;       
    }
}

@media only screen and (max-width: 412px){
    .headline{
        display: none;
    }

    .slozka_close, .slozka_open{
        margin-top: 25px;
    }

    .menu{
        position: relative;
        left: 0;
        top: 0;
        width: 85vw;
        height: 10vh;
        margin-top: -40px;
        margin-left: 20px;
    }

    .index{ 
        background: #f2f2f2; 
        box-shadow: 0px 0px 0px #f2f2f2;
        border-radius: 0px;    
    }
    
    .slozka_close{
        display: block;
    }


    .navigace ul{
        position: absolute;
        display: inline-block;
        z-index: 999;
        background-color: #45A9BF;
        top: -550px;
        bottom: 0;
        width: 100%;
        height: 40vh;
        border-radius: 10px;
        text-align: center;
        transition: all 0.7s;  
    
    }

    .navigace li{
        margin-top: 50px;    
    }

    .name{
        position: absolute;
        width: 320px;
        top: 50px;
        left: 160px;
        font-size: 34px;
    }

    .foto_mobil{
        display: inline-block;
        position: absolute;        
        left: 50%;
        transform: translate(-50%);
        margin-top: 0px;
        width: 270px;
        border-radius: 10px;
    }

    .begin_front{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 200px;
    }
  
  .text{
      font-size: 28px;
      letter-spacing: 2px;
      margin-top: 10px;
      text-align: center;
  }

    .cv{
    display: none;
    }

    .follow{
        display: none;
    }

    .socMedia{ 
        position: absolute;
        width: 50px;        
        bottom: 10px;
        right: 10px;       
    }

    .btn_port{
        display: none;

    }

/**************************************** main INDEX */
.main_index{
    height: 1150px;
    width: 100%;
   
}

.prolog{
    height: 600px;
    box-shadow: 0px 0px 0px #f2f2f2;
    margin-top: -120px;
    
}

.prolog_about_me{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
}

.prolog_about_me h1{
    width: 230px;
    margin-top: 50px;
    font-size: 26px;
    letter-spacing: 1px;
    margin-left: 10px;
}

.prolog_about_me p{
    margin-top: 20px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.phone, .mail{
    position: absolute;
    top: -25px;
    left: -40px;
    margin-bottom: 0px;
    width: 35px;
    
}

.phoneNumber{
    border-radius: 10px;
    width: 260px;
    height: 50px;
    position: absolute;
    margin-top: 440px;
    margin-left: 50px;
    text-align: center;
    padding: 5px 10px;
    
}

.email{
    border-radius: 10px;
    width: 260px;
    height: 50px;
    position: absolute;
    margin-top: 500px;
    margin-left: 50px;
    text-align: center;
    padding: 5px 10px;
}

.phoneNumber a, .email a{
    position: absolute;
    bottom: 15px;
    left: 50px;
    font-size: 15px;
    color: black;
    display: inline-block;
}

.phoneNumber .email:hover{
    border-style: groove;
}
/* *************************************Skilly */
.WhichIWork{
    margin-top: -25px;
    margin-left: -15px;
    font-size: 25px;
}

.skills{
    box-shadow: 0px 0px 0px #f2f2f2;
    border-radius: 10px;
    margin-top: 0px;
    height: 600px;
    margin-left: -20px;
     
}
.skill{
    flex-wrap: wrap;
    width: 350px;
    margin-top: 50px;
}

.cardfull{
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: transparent;
}

.cardfull img{
    position: relative;
    z-index: 1;
}

.cardfull img:hover{
    display: none;
}

.card{
    display: none;
}

main h1{
    margin-top: 50px;
}
/************************************** WHOare */

.who{
    height: 1780px;
    width: 100vw;
    
}

.row{
    width: 90%;
    margin-left: 300px;
    height: 0px;
    position: absolute;
    margin-top: 120px;
 }

 .textCV{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 10px 0;
    border-radius: 10px;
    border: 2px blue;
 }
 
.name_who_are{
    font-size: 24px;
}

.head_title_who_are{
    font-size: 8px;
    
}

.text_who_are{
    width: 340px;
    font-size: 15px;
    line-height: 20px;
    margin-top: 5px;
    margin-left: 0px;
}

 .title_who_are{
    width: 300px;
    margin-bottom: 25px;
    margin-left: 20px;
} 

.my_foto_front{
    display: none;
    
}

/************************************************** Portfolio */
.preview{
    width: 375px;
    height: 700px;
    margin-top: 180px;
    margin-left: 0px;
    flex-direction: column;    
    justify-content: space-evenly;
}

.flip-box, .preview-content, .title-front{
    width: 150px;
    height: 100px;   
    margin-bottom: 40px;
}

.title-front{
    font-size: 15px;
    line-height: 0px;
    margin-top: 120px;
}

.flip-box:hover 
.flip-box-inner{
    transform: rotateY(0deg);   
}

.front{
    color: #010D00;
    border-radius: 10px;
}

/* ***********************************************ŽIVOTOPIS */
.curiculum{
    height: 1800px;
}
.row{
    width: 100%;
    height: 1000px;
    margin-left: 0px;
    margin-top: 150px;
    padding: 10px 15px;
}

.work{
    width: 100%;
    margin-left: 0px;    
}

.textCV{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 10px 0;
}

.h3{
    font-size: 18px;
}

.h4{
    margin-bottom: 10px;
    font-size: 15px;
}

.popis{
    line-height: 22px;
    margin-top: 20px;
    font-size: 14px;
}
.certifications{
    display: flex;
    flex-direction: column;

}

.certifications a{
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 20px;
}

.document{
    width: 40px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 20px;
    
}



/*********************************************Footer */

footer{
    height: 80px;
}

footer p{ 
    text-align: center;
    font-size: 15px;
    line-height: 80px;
}

}


@media only screen and (max-width: 375px){
    .headline{
        display: none;
    }

    .slozka_close, .slozka_open{
        margin-top: 15px;
    }

    .navigace ul{
        background-color: #45A9BF;
        /* right: 0px;     */
        top: -550px;
        bottom: 0;
        /* left: -110%; */
        width:100%;
        height: 50vh;
        border-radius: 10px;
        text-align: center;
        transition: all 0.7s;  
    
    }

    .navigace li{
        display: block;
        line-height: 5px;
        margin: 50px 5px;        
    }
      
    .navigace a{
        font-size: 25px;
   }

   .name{
    position: absolute;
    width: 320px;
    top: 150px;
    left: 160px;
    font-size: 30px;
}

    .foto_mobil{
        left: 50%;
        transform: translate(-50%);
        margin-top: -100px;
        width: 220px;
        border-radius: 10px;
            
    }

      
    .begin_front{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 170px;
        margin-left: 130px;
    }
  
  .text{
      font-size: 24px;
      letter-spacing: 2px;
      margin-top: 10px;
      margin-left: -270px;
      text-align: center;
  }

/**************************************** main INDEX */
.prolog{
    margin-top: -50px;    
}

/* *************************************Skilly */
.WhichIWork{ 
    margin-left: 10px;
    font-size: 23px;
}

.skills{
    margin-left: 0px;
     
}
/************************************** WHOare */

.who{
    width: 100vw;
    
}

.row{
    width: 90%;
    margin-left: 300px;
    height: 0px;
    position: absolute;
    margin-top: 120px;
 }

 .textCV{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 10px 0;
    border-radius: 10px;
    border: 2px blue;
 }
 
.name_who_are{
    font-size: 24px;
}

.head_title_who_are{
    font-size: 8px;
    
}

.text_who_are{
    width: 340px;
    font-size: 15px;
    line-height: 20px;
    margin-top: 5px;
    margin-left: 0px;
}

 .title_who_are{
    width: 300px;
    margin-bottom: 25px;
    margin-left: 20px;
} 

.my_foto_front{
    display: none;
    
}
/************************************************** Portfolio */
/* stejné jako předchozí */
/* ***********************************************ŽIVOTOPIS */
.curiculum{
    height: 1800px;
}
.row{
    width: 100%;
    height: 1000px;
    margin-left: 0px;
    margin-top: 150px;
    padding: 10px 15px;
}

.work{
    width: 100%;
    margin-left: 0px;    
}

/*********************************************Footer */

footer{
    height: 80px;
}

footer p{ 
    text-align: center;
    font-size: 15px;
    line-height: 80px;
}

}

