
@media only screen and (min-width: 1500px){
    .color{
        margin-top: -300px;
    }

    .follow{
        margin-top: 300px;
    }

    .hi {
        display: inline;
        float: left;
        margin: 0px;
    }

    .headline{
        width: 1560px;
        line-height: 150px;    
        letter-spacing: 4px;
        font-size: 60px;    
    }

    .row{
        width: 80%;
        margin-left: 360px;
    }

    .title_who_are{        
        margin: 60px auto;
        width:50%

      
    }    

    .line{
        margin-top: 30px;        
    }

    .preview{
        width: 80%;
        margin-left: 360px;    
    }

    footer{
        position: relative;
        height: 100px;
        margin-top: 0px;
    }

}

/* *********************************************************************************************************************************************************************************************************** */
@media only screen and (max-width: 1024px){  
  .navigace{
      margin-top: 60px;     
  }
    /* ***********************************INDEX */
    .main_index{
      height: 1320px;
      width: 100%;
      margin-top: -20px;
    }

    .title_name{
        width: 680px;
        height: 100vh;
        margin-left: 180px;
    }
    
    .title{
        position: absolute;
        width: 100%;
        height: 100%;  
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    align-items: flex-start;      
    }

    .animation{
        display: none;
    }

    .content_animation {
        display: none;
    }

    .name{
        width: 100%;
        letter-spacing: 2px;
        margin-top: 0px;
        margin-left: 20px;
    }

    .Iam{
        font-size: 40px;
        margin-top: 120px;
    
    }

    .myName{
        font-size: 50px;
    }

  
    .begin_front{
        width: 150px;
        height: 150px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 120px;
    }
  
    .text{
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: 0px;
        text-align: center;
    }

    .two{
        letter-spacing: 2px;
        padding-top: -30px;
        padding-bottom: -30px;
    }

    .three{
        letter-spacing: 2.5px;
    }

    .btn_port{
        position: relative;
        margin-bottom: 90px;
        margin-left: 120px;
        font-size: 25px;
    } 

    .prolog{
        position: relative;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        height: 700px;
        margin: 0 auto;
        z-index: 1;
    }

      /***************************** nadpisy */
    .headline{ 
        position: absolute;
        width: 680px;
        margin-left: 340px;
        line-height: 150px;
        text-align: center;    
        font-size: 50px;
    }

    /* *********************************menu */
    .menu{
        margin-top: 20px;
    }

    .navigace img{
        width: 40px;
    }
    
    .navigace li{
        margin-top: 30px;  
    }
    
    .navigace a{
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .active_house{
        padding-top: 30px;      
    } 

    .cv{
        margin-top: -40px;
        font-size: 18px;
    }

    .follow{
        font-size: 20px;
        margin-top: 0px;
    }

    .socMedia{
        margin-top: 20px;
        width: 35px;
        margin-left: 135px;
    
    }

    /****************************************************** WHOARE */
    .who{
        height: 1500px;
        width: 100%;        
    }

    main h1{
        margin-bottom: 20px;
        text-align: center;
        margin-top: 50px;       
    }

    /* .row{
        width: 55%;
    } */

    .name_who_are{
        font-size: 37px;
    }

    .title_who_are{
        width: 90%;
        margin: 30px auto;
        font-size: 16px;
        text-align: center;   
    }     

    .text_who_are{
        font-size: 17px;
        line-height: 21px;
    }

    .my_foto_front{
        width: 450px;
        margin-top: 1038px;
    
    }

    
    /*********************************************** portfolio */
    .port{
        /* height: 1000px; */
        width: 100vw;  
    }
    .preview{
        max-width: 60%;
    }

    .flip-box, .preview-content, .title-front{
        width: 250px;
        height: 180px;
    }

    .port{
        height: 1000px;
        width: 100%;
        
    }

    /******************************** Životopis */
    .curiculum{        
        height: 2600px;
        width: 100vw;
        
    }
    .row{
        width: 60%;
        /* margin-left: 380px; */
        
    }

    .work{
        width: 100%;
        margin-top: 10px;        
    }

    .col{
        margin: 0;
    }

    .textCV{
        margin-top: 50px;
       
     }
    
    .kurz{
        margin-top: 80px;
    }

    .icon{
        width: 35px;
        margin-left:0px;    
    }

    h3{
        font-size: 22px;
        margin-top: 50px;
        /* text-align: center; */
        /* width: 200px;     */
    }
    
    h4{
        margin-bottom: 5px;
        /* text-align: center; */
    }
    
    .popis{
        line-height: 22px;
        margin-top: 20px;
    } 
    
    .document{
        margin-top: 50px;        
    }

    .certifications{
        display: flex;
        flex-direction: column;
    }
    
    .certifications a{
        font-size: 17px;
    }   
  
}
/* ************************************************************************************************************************************************************************************************************* */
@media only screen and (max-width: 768px){
     /* *********************************menu */
    .menu{
        width: 200px;
        margin-top: 10px;
    }

    .navigace img{
        width: 35px;
    }
    
    .navigace li{
        margin-top: 25px;  
    }
    
    .navigace a{
        font-size: 20px;
    }

    .active_house{
        padding-top: 25px;      
    } 

    .cv{
        margin-top: -80px;
        font-size: 16px;
    }

    .follow{
        font-size: 18px;
        margin-top: 0px;
    }

    .socMedia{
        margin-top: 20px;
        width: 35px;
        margin-left: 85px;
    
    }

      /* ***********************************INDEX */
    
    .index{
        width: 100vw;
        height: 100vh; 
        background: url(../IMG/my_foto.png);
        background-position: right;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        box-shadow: 0px 0px 0px;
        border-radius: 10px;
    }

    .title_name{
        width: 490px;
        height: 100%;
        margin-left: 140px;
    }

    .main_index{
        width: 100%;
        height: 1120px;
    }   

    .name{
        width: 100%;
        letter-spacing: 2px;
        margin-top: 0px;
        margin-left: 20px;
    }

    .Iam{
        font-size: 30px;
        margin-top: 170px;
    
    }

    .myName{
        font-size: 40px;
        margin-top: 0px;
    }
  
    .begin_front{
        width: 150px;
        height: 150px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
  
    .text{
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: 0px;
        text-align: center;
    }

    .two{
        letter-spacing: 2px;
        padding-top: -30px;
        padding-bottom: -30px;
    }

    .three{
        letter-spacing: 2.4px;
    }

    .btn_port{
        position: relative;
        margin-bottom: 60px;
        margin-left: 120px;
        font-size: 25px;
    } 

    .prolog{
        height: 600px;
    }

    .prolog_about_me h1{
        margin-top: 80px;
        font-size: 26px;
        letter-spacing: 0px;
    }

    .prolog_about_me p{
        margin-top: 20px;
        letter-spacing: 0px;
        font-size: 19px;
    }

    .phone, .mail{
        width: 100px;
        border: 2px solid #010D00;
        border-radius: 10px;
        padding: 10px 25px;
        background-color: #45A9BF;  
        margin-top: -100px;  
    }

    .phone{
        margin-left: 150px;
    }

    .mail{
        margin-right: 50px;
    }

    .phoneNumber, .email{ 
        width: 0px;
        height: 0px;
        padding: 0px 0px;
        border: 2px solid #f2f2f2;
    }

    .text_number, .text_mail{
        display: none;
    }

    /* **********************************skills */
    .WhichIWork{
        margin-top: 10px;
    }

    
    .skills{
        height: 550px;     
    }

    .skill{
        width: 600px;
        margin-top: 80px;
    }

    .cardfull{
        width: 80px;
        height: 80px;
    }

    .card{
        display: none;
    }

   /***************************** nadpisy */
    .headline{ 
        max-width: 67%;
        margin-left: 250px;
        line-height: 149px;    
        font-size: 40px;
    }

  
    /****************************************************** WHOARE */
    .who{
        height: 1600px;
        max-width: 100%;       
    }
  
    main h1{
        margin-bottom: 20px;
        text-align: center;
        margin-top: 50px;    
    }
  
    .row{
        margin-left: 280px;
        width: 55%;
    }
  
    .name_who_are{
        font-size: 37px;
    }
  
    .text_who_are{
        font-size: 17px;
        line-height: 21px;
    }
  
    .title_who_are{
        max-width: 90%;
        font-size: 16px;
        text-align: center; 
        margin: 30px auto;   
    }     
  
    .my_foto_front{
        width: 350px;
        margin-top: 1238px;
      
    }
  
      
      /*********************************************** portfolio */
        .port{
            height: 800px;
            width: 100vw;  
        }
        
      .preview{
            max-width: 60%;
            margin-left: 280px;
      }
  
      .flip-box, .preview-content, .title-front{
          width: 200px;
          height: 130px;
      }
  
      /******************************** Životopis */
    .curiculum{        
        height: 2600px;
        width: 100vw;
    }
      
    .row{
        width: 60%;
        /* margin-left: 380px; */
    }
  
    .work{
        width: 100%;
        margin-top: 10px;        
    }
  
    .col{
        margin: 0;
    }
  
    .textCV{
        margin-top: 50px;
    }
      
    .kurz{
        margin-top: 80px;
    }
  
    .icon{
        width: 35px;
        margin-left:0px;    
    }
  
    h3{
        font-size: 22px;
        margin-top: 50px;
        /* text-align: center; */
        /* width: 200px;     */
    }
      
    h4{
        margin-bottom: 5px;
        /* text-align: center; */
    }
      
    .popis{
        line-height: 22px;
        margin-top: 20px;
    } 
      
    .document{
        margin-top: 50px;        
    }
  
    .certifications{
        display: flex;
        flex-direction: column;
    }
      
    .certifications a{
        font-size: 18px;
    }   
    
}

@media only screen and (max-width: 425px){
    .animation{
        display: none;
    }

    .title_name{
        width: 100%;
        height: 500px;
        margin-left: 0px;
    }
    
    .title{
        width: 100%;
        height: 500px;       
    }

    .index{
        width: 100%;
        height: 100vh; 
        background: #f2f2f2; 
        box-shadow: 0px 0px 0px #f2f2f2;
        border-radius: 0px;
    }
    /*************************************************** menu */
    .menu{
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 80px;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 0px 0px;
        box-shadow: 0px 0px 0px;
    
    }

    .slozka_close{
        display: block;
        margin-left: 40px;
    }

    .slozka_close, .slozka_open{
        margin-top: 17px;
    }
    /* **********************************responzivní index */
   .name{
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin-top: 0px;
        margin-left: 0px;
    }

    .Iam{
        font-size: 30px;
        margin-top: 0px;
    
    }

    .myName{
        font-size: 40px;
        margin-top: -80px;
    }

    .foto_mobil{
        display: block;
        position: absolute;   
        width: 200px;     
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
         margin-top: 0px;
    }

    .begin_front{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        margin-left: 0px;
    }
  
    .text{
        font-size: 18px;
        letter-spacing: 1px;
        margin-top: 5px;
        text-align: center;
    }

    .two{
        letter-spacing: 4px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 25px;

    }

    .three{
        letter-spacing: 2.4px;
    }

/* **********************************************responzivní menu */
    .navigace ul{
        position: absolute;
        display: inline-block;
        z-index: 999;
        background-color: #45A9BF;
        top: -600px;
        bottom: 0;
        width: 100%;
        height: 50vh;
        border-radius: 10px;
        text-align: center;
        transition: all 0.7s;  
    
    }

    .navigace li{
        margin-top: 50px;    
    }

    /* *******************************************headline */
    header{
        width: 100%;
        height: 100px;
    }

    .headline{ 
        display: none;
    }

    .socialMedia{
        position: absolute;
        width: 30%;
        margin-top: -340px;
        margin-left: 260px;
        text-align: center;
    }
    
    .socMediaIcons{
        width: 45px;
    }

    .cv{
        display: none;
    }
    
    .follow{
        display: none;
    }
    
    .btn_port{
        display: none;
    }

/**************************************** main INDEX */
    .main_index{
        height: 1050px;
        width: 100%;
   }

    .prolog{
        height: 500px;
        box-shadow: 0px 0px 0px #f2f2f2;
        margin-top: 0px;
    }

    .prolog_about_me{
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 400px;
    }

    .prolog_about_me h1{
        /* width: 230px;
        margin-top: 50px; */
        font-size: 24px;
        /* letter-spacing: 1px;
        margin-left: 10px; */
    }

    .prolog_about_me p{
        margin-top: 14px;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .phone, .mail{
        width: 90px;
        margin-bottom: 50px; 
    }

    .phone{
        margin-left: 90px;
    }

    .mail{
        margin-left: -110px;
    }

/* *************************************Skilly */
    .WhichIWork{
        margin-top: 0px;
        margin-left: 0px;
        font-size: 22px;
        border-bottom: 0px solid;
        text-decoration: underline;
    }

.skills{
    box-shadow: 0px 0px 0px #f2f2f2;
    border-radius: 10px;
    margin-top: 0px;
    height: 500px;
    margin-left: -20px;
     
}
.skill{
    flex-wrap: wrap;
    width: 350px;
    margin-top: 80px;
}

.cardfull{
    width: 60px;
    height: 60px;
}


/************************************** WHOare */

.who{
    height: 1580px;
    width: 100%;
    
    
}

main h1{
    width: 100%;
    text-align: center;
    margin-top: 0px;
   
}

.row{
    width: 100%;
    height: 1000px;
    margin-left: 0px;
    margin-top: 0px;
 }

 .textCV{
    margin-top: 40px;
    padding: 10px 0;
    border-radius: 10px;    
 }
 
.name_who_are{
    font-size: 24px;
}

.head_title_who_are{
    font-size: 16px;
    
}

.text_who_are{
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
}

 .title_who_are{
    width: 100%;
    margin-bottom: 23px;
    margin-left: 20px;
    font-size: 15px;
} 

.my_foto_front{
    display: none;
    
}

/************************************************** Portfolio */
.preview{
    width: 375px;
    height: 700px;
    margin-top: 110px;
    margin-left: 80px;
}

.flip-box, .preview-content, .title-front{
    width: 130px;
    height: 90px;   
    margin-bottom: 40px;
}

.title-front{
    font-size: 15px;
    line-height: 0px;
    margin-top: 110px;
}

.flip-box:hover 
.flip-box-inner{
    transform: rotateY(0deg);   
}


/* ***********************************************ŽIVOTOPIS */
.curiculum{
    height: 2100px;
}
.row{
    width: 90%;
    margin-left: 20px;
    margin-top: 130px;
}

.work{
    width: 100%;
    margin-left: 0px;    
}

.textCV{
    margin-top: 20px;
    padding: 10px 0;
}

h3{
    font-size: 20px;
    margin-top: 20px;    
}

h4{
    margin-bottom: 10px;
    font-size: 19px;
}

.popis{
    line-height: 22px;
    margin-top: 20px;
    font-size: 14px;
}

.certifications{
    display: flex;
    flex-direction: column;

}

.certifications a{
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 20px;
}

.document{
    width: 40px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 20px;
    
}



/*********************************************Footer */

footer{
    height: 80px;
}

footer p{ 
    text-align: center;
    font-size: 15px;
    line-height: 80px;
}

}

@media only screen and (max-width: 375px){
    .phone, .mail{
        width: 90px;
        margin-bottom: 50px; 
    }

    .phone{
        margin-left: 70px;
    }

    .mail{
        margin-left: -130px;
    }
}


