* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

header {
  width: 100%;
  height: 100px;
  background-color: #F2F2F2;
  position: absolute;
  height: 150px;
}

.index {
  width: 100%;
  height: 100vh;
  background-color: #F2F2F2;
  background: url(../IMG/my_foto.png);
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  box-shadow: 10px 10px 15px #716D6E;
}

.menu {
  position: absolute;
  width: 300px;
  height: 90vh;
  background-color: #89345e;
  margin-top: 40px;
  margin-left: 40px;
  box-shadow: 10px 10px 20px #716D6E;
  border-radius: 10px;
}

.navigace {
  height: 300px;
  margin-top: 100px;
}

.navigace li {
  margin-top: 40px;
  list-style-type: none;
  text-align: center;
}

.navigace a {
  text-decoration: none;
  font-weight: 600;
  color: #010D00;
  font-family: "Inconsolata", monospace;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navigace img {
  width: 50px;
}

.active {
  box-shadow: 5px 2px 15px #010D00;
  padding: 5px 10px;
  border-radius: 10px;
}

.active_house {
  box-shadow: 5px 2px 15px #010D00;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.cv {
  position: absolute;
  display: inline-block;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  text-decoration: none;
  background-color: #89345e;
  font-size: 20px;
  color: #F2F2F2;
  letter-spacing: 2px;
  margin-left: 40px;
  margin-top: 20px;
}

.follow {
  font-family: "Inconsolata", monospace;
  color: #F24E29;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin-top: 80px;
}

.socMedia {
  margin-top: 20px;
  width: 30px;
  margin-left: 135px;
}

.title_name {
  width: 800px;
  height: 450px;
  margin-left: 122px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  position: absolute;
  font-family: "Inconsolata", monospace;
  width: 800px;
  height: 650px;
  color: #010D00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.animation {
  height: 40px;
  overflow: hidden;
  font-family: "Inconsolata", monospace;
  font-size: 35px;
  line-height: 40px;
  color: #F24E29;
}
.animation .content_animation {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 0px;
}
.animation .content_animation:before {
  content: "[";
  left: 190px;
}
.animation .content_animation:after {
  content: "]";
  position: absolute;
  right: 220px;
}
.animation .content_animation:after, .animation .content_animation:before {
  position: absolute;
  top: 8%;
  color: #45A9BF;
  font-size: 40px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.animation .content_animation .hi {
  display: inline;
  float: left;
  margin: 0;
}
.animation .content_animation .animation_list {
  margin-top: 0px;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.animation .content_animation .animation_list .animation_list_item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, 25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, 50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, 75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, 50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, 25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
.name {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #45A9BF;
}

.color_name {
  color: #010D00;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #010D00;
}

.text {
  font-size: 25px;
  letter-spacing: 2px;
}

.main_index {
  background-color: #F2F2F2;
  height: 1320px;
  width: 100%;
  margin-top: -20px;
}

main {
  background-color: #F2F2F2;
  height: 1420px;
  width: 100%;
}

.prolog {
  position: relative;
  background-color: #F2F2F2;
  box-shadow: 10px 10px 15px #716D6E;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 700px;
  margin: 0 auto;
  z-index: 1;
}

.prolog_about_me {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  color: #010D00;
}

.prolog_about_me h1 {
  width: 230px;
  margin-top: 100px;
  font-family: "Inconsolata", monospace;
  border-left: #010D00 6px solid;
  font-size: 28px;
  letter-spacing: 1px;
}

.prolog_about_me p {
  margin-top: 20px;
  font-family: "Inconsolata", monospace;
  letter-spacing: 1px;
  font-size: 21px;
}

.link {
  position: absolute;
  display: inline-block;
  margin-top: 200px;
  width: 200px;
}

.btn_port {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  color: #010D00;
  font-weight: 700;
  border: #89345e 4px solid;
  border-radius: 10px;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-style: outset;
  background-color: #89345e;
}

.btn_port:hover {
  border-style: inset;
}

.phone, .mail {
  width: 50px;
  margin-bottom: 8px;
}

.phoneNumber {
  border: 2px solid #010D00;
  border-radius: 10px;
  width: 240px;
  height: 100px;
  position: absolute;
  margin-top: 500px;
  text-align: center;
  padding: 10px 25px;
  background-color: #45A9BF;
}

.phoneNumber a, .email a {
  text-decoration: none;
  color: #010D00;
  display: inline-block;
  position: relative;
}

.email {
  border: 2px solid #010D00;
  border-radius: 10px;
  width: 240px;
  height: 100px;
  position: absolute;
  margin-top: 500px;
  text-align: center;
  padding: 10px 25px;
  background-color: #45A9BF;
  margin-left: 300px;
}

.phoneNumber .email:hover {
  border-style: groove;
}

.WhichIWork {
  margin-top: 20px;
  position: absolute;
  color: #89345e;
  font-family: "Inconsolata", monospace;
  letter-spacing: 2px;
  font-size: 30px;
  border-bottom: 2px solid #89345e;
}

.skills {
  box-shadow: 10px 10px 15px #716D6E;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1000;
  height: 700px;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 700px;
  margin-top: 100px;
}

.cardfull {
  width: 100px;
  height: 100px;
  background: #89345e;
  position: relative;
  border: 2px solid #89345e;
  border-radius: 10px;
}

.card {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #F2F2F2;
  text-align: center;
}

.cardfull img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: all 1s linear;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.cardfull img:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
}

.my_foto_front {
  position: relative;
  width: 500px;
  margin-top: 310px;
  margin-left: -120px;
}

header h1 {
  font-family: "Inconsolata", monospace;
  padding-top: 50px;
  letter-spacing: 2px;
  font-size: 40px;
  margin: 20px 750px;
  color: #89345e;
}

.icon {
  width: 50px;
  margin-left: -60px;
}

.row {
  width: 70%;
  margin-left: 380px;
  height: 1000px;
  position: absolute;
  margin-top: 120px;
}

.textCV {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #45A9BF;
  margin-top: 40px;
  padding: 10px 0;
  box-shadow: 10px 10px 15px #716D6E;
  border-radius: 5px;
}

.kurz {
  margin-top: 120px;
}

h2 {
  font-family: "Inconsolata", monospace;
}

h3 {
  font-family: "Inconsolata", monospace;
  color: #89345e;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: 20px;
}

h4 {
  font-family: "Inconsolata", monospace;
  margin-bottom: 10px;
  font-size: 18px;
}

.popis {
  font-family: "Inconsolata", monospace;
  line-height: 25px;
  margin-top: 40px;
  font-size: 17px;
}

.eyes {
  width: 40px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.watch a {
  font-size: 15px;
  color: #45A9BF;
  font-weight: 600;
  font-family: "Inconsolata", monospace;
  margin-left: 20px;
  margin-top: -30px;
}

.preview {
  width: 70%;
  margin-left: 380px;
  height: 500px;
  margin-top: 150px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}

.flip-box, .preview-content, .title-front {
  background-color: transparent;
  width: 280px;
  height: 200px;
  border-radius: 10px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.flip-box img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% 100%;
     object-position: 10% 100%;
  transform: translateZ(2rem);
  box-shadow: 10px 10px 15px #716D6E;
}

.title-front {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #F24E29;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  z-index: 999;
  line-height: 200px;
  text-align: center;
  transform: translateZ(80px) translate(-50%, -50%);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #010D00;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
  box-shadow: 10px 10px 15px #F2F2F2;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  background-color: #45A9BF;
  color: #010D00;
  border-radius: 10px;
  font-family: "Inconsolata", monospace;
}

.back {
  position: absolute;
  line-height: 200px;
  text-align: center;
  font-size: 25px;
  overflow: hidden;
  background-color: #89345e;
  border-radius: 10px;
  font-family: "Inconsolata", monospace;
  transform: rotateY(180deg);
}

.back a {
  color: #010D00;
  position: absolute;
  top: 20%;
  left: 15%;
  font-size: 20px;
  color: #F24E29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Inconsolata", monospace;
}

main h1 {
  color: #45A9BF;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px;
}

.name_who_are {
  font-size: 45px;
  color: #010D00;
}

.head_title_who_are {
  font-size: 30px;
  color: #45A9BF;
}

.text_who_are {
  font-family: "Inconsolata", monospace;
  font-size: 19px;
  line-height: 23px;
  margin-top: 10px;
}

.title_who_are {
  font-family: "Inconsolata", monospace;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #45A9BF;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 0;
  box-shadow: 10px 10px 15px #716D6E;
  border-radius: 5px;
  font-size: 18px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #89345e;
  border-top: 1px solid #716D6E;
}

footer p {
  color: #010D00;
  text-align: center;
  font-size: 20px;
  line-height: 100px;
}/*# sourceMappingURL=style.css.map */